/.vscode
/Acme Website
Boot Style.css
Bootstrap Tutorial.html
CCWrold.png
CCWrold.xcf
CC_Logo.xcf
Cape Cod World.bsdesign
FCC Project 2 Markup.pptx
Larry Painting.bsdesign
Navbar.html
Project2.html
The bite.jpeg
acme_website.zip
bite mark.jpeg
bite mark.png
bite mark.xcf
/bootstrap-3.3.7-dist
/bootstrap_cheatsheet
/css
earth_PNG32.png
elements_and_attributes.html
/fonts
/glyphicons
/js
launch.json
project2.css
starting_point.html
sunsetPhoto.jpg
