/.vscode
/Acme Website
Boot Style.css
Bootstrap Tutorial.html
CCWorld.png
CCWrold.png
CCWrold.xcf
CC_Logo.png
CC_Logo.xcf
Cape Cod World.bsdesign
FCC Project 2 Markup.pptx
Larry Painting.bsdesign
Navbar.html
Project2.html
The bite.jpeg
acme_website.zip
bite mark.jpeg
bite mark.png
bite mark.xcf
/bootstrap-3.3.7-dist
/bootstrap_cheatsheet
/css
earth_PNG32.png
elements_and_attributes.html
/fonts
glyphicons-social-18-linked-in.png
glyphicons-social-22-github.png
glyphicons-social-3-google-plus.png
glyphicons-social-32-twitter.png
/glyphicons
/js
launch.json
project2.css
sandPic.jpg
sandPic1.jpg
starting_point.html
sunsetPhoto.jpg
